dev:
  MONGO_HOST: 'mongodb://<user>:<password>@mongodb.net:27017/db'
  JWT_SECRET: 'jwt_secret_key'
  PRIVATE_API_KEY: 'key'
  GOOGLE_RECAPTCHA_KEY: 'key'
prod:
  MONGO_HOST: ''
  JWT_SECRET: ''
  PRIVATE_API_KEY: ''
  GOOGLE_RECAPTCHA_KEY: ''
